/* ---------contact-------- */
.contact-left {
    flex-basis: 35%;
}
.contact-right {
    flex-basis: 60%;
}
.contact-left p {
    margin-top: 30px;
}
    .contact-left p i {
        color: #ff004f;
        margin-right: 15px;
        font-size: 25px;
    }
.btn {
    display: inline-block;
    background: #ff004f;
}
.contact-right form {
    width: 50%;
}
form input, form textarea {
    width: 50%;
    border: 0px;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
body {
    border: 10px solid;
    border-radius: 10px;
    text-align: center;
    width: 60%;
    margin: 100px 100px 100px 250px;
}